<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.burgerstack.file.FileMapper">
    <insert id="insert" parameterType="StoredFile">
        /* id="insert" */
        <selectKey keyProperty="fileId" resultType="long" order="BEFORE">
            SELECT SEQ_FILE.NEXTVAL
            FROM DUAL
        </selectKey>
        INSERT INTO FILES (
            FILE_ID
           ,ORIGINAL_NAME
           ,STORED_NAME
           ,STORAGE_PATH
           ,MIME_TYPE
           ,FILE_SIZE
           ,CREATED_BY
        ) VALUES (
            #{fileId}
           ,#{originalName}
           ,#{storedName}
           ,#{storagePath}
           ,#{mimeType}
           ,#{fileSize}
           ,#{createdBy}
        )
    </insert>

    <select id="findActiveById" parameterType="long" resultType="StoredFile">
        /* id="findActiveById" */
         SELECT FILE_ID
               ,ORIGINAL_NAME
               ,STORED_NAME
               ,STORAGE_PATH
               ,MIME_TYPE
               ,FILE_SIZE
               ,DELETED_AT
               ,CREATED_BY
               ,CREATED_AT
           FROM FILES
          WHERE FILE_ID = #{fileId}
            AND DELETED_AT IS NULL
    </select>

    <update id="markDeleted" parameterType="long">
        /* id="markDeleted" */
         UPDATE FILES
            SET DELETED_AT = SYSDATE
          WHERE FILE_ID = #{fileId}
            AND DELETED_AT IS NULL
    </update>
</mapper>
