<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.burgerstack.inventory.dao.InventoryTransactionMapper">
    <insert id="insert">
        <selectKey keyProperty="inventoryTransactionId" resultType="int" order="BEFORE">
            SELECT SEQ_INV_TX.NEXTVAL FROM DUAL
        </selectKey>
        INSERT INTO INVENTORY_TRANSACTIONS (
              INVENTORY_TRANSACTION_ID
            , TRANSACTION_TYPE
            , REASON
            , TRANSACTION_MEMO
            , CREATED_BY
            , STORE_ID
            , RECEIPT_ID
            , STORE_CLOSING_ID
        ) VALUES (
              #{inventoryTransactionId}
            , #{transactionType}
            , #{reason}
            , #{transactionMemo}
            , #{createdBy}
            , #{storeId}
            , #{receiptId}
            , #{storeClosingId}
        )
    </insert>

    <select id="findById">
        SELECT *
          FROM INVENTORY_TRANSACTIONS
         WHERE INVENTORY_TRANSACTION_ID = #{inventoryTransactionId}
    </select>

    <insert id="insertItems">
        INSERT INTO INVENTORY_TRANSACTION_ITEMS (
              INVENTORY_TRANSACTION_ITEM_ID
            , BEFORE_QUANTITY
            , AFTER_QUANTITY
            , INVENTORY_TRANSACTION_ID
            , STORE_INVENTORY_ID
        ) VALUES
        <foreach collection="list" item="item" separator=",">
        (
              SEQ_INV_TX_ITEM.NEXTVAL
            , #{item.beforeQuantity}
            , #{item.afterQuantity}
            , #{inventoryTransactionId}
            , #{item.storeInventoryId}
        )
        </foreach>
    </insert>

    <select id="findItemsByTransactionId">
        SELECT *
          FROM INVENTORY_TRANSACTION_ITEMS
         WHERE INVENTORY_TRANSACTION_ID = #{inventoryTransactionId}
    </select>
</mapper>
