<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.burgerstack.inventory.InventoryMapper">
    <select id="findInventoryListItems" resultType="InventoryListItem">
        /* id="findInventoryListItems" */
         SELECT *
           FROM (    SELECT *
                       FROM (    SELECT ROWNUM AS rn
                                       ,temp.*
                                   FROM (    SELECT STORE_ID
                                                   ,MATERIAL_ID
                                                   ,I.CURRENT_QUANTITY
                                                   ,I.SAFETY_QUANTITY
                                                   ,I.CREATED_BY
                                                   ,I.CREATED_AT
                                                   ,I.UPDATED_BY
                                                   ,I.UPDATED_AT
                                                   ,S.STORE_NAME
                                                   ,M.MATERIAL_NAME
                                               FROM STORE_INVENTORIES I
                                               JOIN MATERIALS M
                                              USING (MATERIAL_ID)
                                               JOIN STORES S
                                              USING (STORE_ID)
        <where>
            <if test="condition.storeId != null">
                STORE_ID = #{condition.storeId}
            </if>
            <if test="condition.materialId != null">
                    AND MATERIAL_ID = #{condition.materialId}
            </if>
            <if test="condition.materialName != null and condition.materialName != ''">
                    AND MATERIAL_NAME = #{condition.materialName}
            </if>
            <if test="condition.materialType != null and condition.materialType != ''">
                    AND MATERIAL_TYPE = #{condition.materialType}
            </if>
            <if test="condition.belowSafetyStock != null and cnodition.belowSafetyStock">
                    AND CURRENT_QUANTITY &lt; SAFETY_QUANTITY
            </if>
        </where>
                                            ORDER BY CREATED_AT DESC
                                                   ,STORE_INVENTORY_ID DESC
                                        ) temp
                                  WHERE ROWNUM  &lt;= #{paging.endRow}
                            )
                      WHERE rn &gt;= #{paging.startRow}
                )
    </select>
</mapper>
