<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.burgerstack.inventory.dao.InventoryMapper">
    <select id="findById">
        SELECT *
          FROM STORE_INVENTORIES
         WHERE STORE_INVENTORY_ID = #{storeInventoryId}
    </select>

    <select id="findByIds">
        SELECT *
          FROM STORE_INVENTORIES
         WHERE STORE_INVENTORY_ID IN
         <foreach item="storeInventoryId" collection="storeInventoryIds" open="(" separator="," close=")">
            #{storeInventoryId}
         </foreach>
    </select>

    <select id="findInventoryListItems">
        SELECT STORE_INVENTORY_ID AS inventoryId
        , CURRENT_QUANTITY
             , SHORTAGE_QUANTITY
             , SAFETY_QUANTITY
             , STORE_NAME
             , MATERIAL_CODE
             , MATERIAL_NAME
             , MATERIAL_TYPE
          FROM (
                SELECT *
                  FROM (
                        SELECT ROWNUM AS rn, temp.*
                          FROM (
                                SELECT STORE_INVENTORY_ID
                                     , I.CURRENT_QUANTITY
                                     , CASE WHEN I.CURRENT_QUANTITY &lt; I.SAFETY_QUANTITY THEN I.CURRENT_QUANTITY - I.SAFETY_QUANTITY
                                            ELSE 0
                                       END AS SHORTAGE_QUANTITY
                                     , I.SAFETY_QUANTITY
                                     , S.STORE_NAME
                                     , M.MATERIAL_TYPE || EXTRACT(YEAR FROM M.CREATED_AT) || LPAD(MATERIAL_ID, 4, '0') AS MATERIAL_CODE
                                     , M.MATERIAL_NAME
                                     , M.MATERIAL_TYPE
                                     , STORE_ID
                                     , MATERIAL_ID
                                  FROM STORE_INVENTORIES I
                                  JOIN MATERIALS M
                                 USING (MATERIAL_ID)
                                  JOIN STORES S
                                 USING (STORE_ID)
                        <where>
                            <if test="condition.storeId != null">
                                       STORE_ID = #{condition.storeId}
                            </if>
                            <if test="condition.materialId != null">
                                   AND MATERIAL_ID = #{condition.materialId}
                            </if>
                            <if test="condition.materialName != null and condition.materialName != ''">
                                   AND M.MATERIAL_NAME LIKE '%' || #{condition.materialName} || '%'
                            </if>
                            <if test="condition.materialType != null and condition.materialType != ''">
                                   AND M.MATERIAL_TYPE = #{condition.materialType}
                            </if>
                            <if test="condition.belowSafetyStock != null and condition.belowSafetyStock">
                                   AND I.CURRENT_QUANTITY &lt; I.SAFETY_QUANTITY
                            </if>
                        </where>
                                 ORDER BY I.CREATED_AT DESC, I.STORE_INVENTORY_ID
                                ) temp
                         WHERE ROWNUM  &lt;= #{paging.endRow}
                        )
                 WHERE rn &gt;= #{paging.startRow}
                )
    </select>

    <select id="count">
        SELECT COUNT(*)
          FROM STORE_INVENTORIES I
          JOIN MATERIALS M
         USING (MATERIAL_ID)
          JOIN STORES S
         USING (STORE_ID)
        <where>
            <if test="condition.storeId != null">
                        STORE_ID = #{condition.storeId}
            </if>
            <if test="condition.materialId != null">
                    AND MATERIAL_ID = #{condition.materialId}
            </if>
            <if test="condition.materialName != null and condition.materialName != ''">
                    AND M.MATERIAL_NAME LIKE '%' || #{condition.materialName} || '%'
            </if>
            <if test="condition.materialType != null and condition.materialType != ''">
                    AND M.MATERIAL_TYPE = #{condition.materialType}
            </if>
            <if test="condition.belowSafetyStock != null and condition.belowSafetyStock">
                    AND I.CURRENT_QUANTITY &lt; I.SAFETY_QUANTITY
            </if>
        </where>
    </select>

    <select id="getInventoryDetailById">
        SELECT STORE_INVENTORY_ID AS inventoryId
             , I.CURRENT_QUANTITY
             , I.SAFETY_QUANTITY
             , I.CREATED_AT
             , I.UPDATED_AT
             , S.STORE_NAME
             , M.MATERIAL_NAME
             , STORE_ID
             , MATERIAL_ID
          FROM STORE_INVENTORIES I
          JOIN MATERIALS M
         USING (MATERIAL_ID)
          JOIN STORES S
         USING (STORE_ID)
         WHERE STORE_INVENTORY_ID = #{storeInventoryId}
    </select>

    <update id="update">
        UPDATE STORE_INVENTORIES
           SET CURRENT_QUANTITY = #{inventory.currentQuantity}
             , SAFETY_QUANTITY = #{inventory.safetyQuantity}
             , UPDATED_AT = SYSDATE
         WHERE STORE_INVENTORY_ID = #{inventory.storeInventoryId}
            <if test="inventory.updatedAt != null">
           AND UPDATED_AT = #{inventory.updatedAt}
            </if>
    </update>
</mapper>
