<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.kh.burgerstack.purchase.PurchaseMapper">

<!-- 자재 조회 -->
<select id="searchMaterialsList"
        resultType="com.kh.burgerstack.purchase.dto.MaterialInventoryDto">

    SELECT
        M.MATERIAL_ID        AS materialId,
        M.MATERIAL_NAME      AS materialName,
        M.SUPPLY_PRICE       AS costPrice,

        NVL(I.CURRENT_QUANTITY,0) AS currentQuantity,

        (M.SUPPLY_PRICE * NVL(I.CURRENT_QUANTITY,0)) AS buyPrice,

        M.STATUS AS status

    FROM MATERIALS M

    LEFT JOIN STORE_INVENTORIES I
        ON M.MATERIAL_ID = I.MATERIAL_ID
        AND I.STORE_ID = #{storeId}

    ORDER BY M.MATERIAL_NAME

</select>


<!-- 발주 목록 -->
<select id="searchPurchaseList"
        resultType="com.kh.burgerstack.purchase.dto.PurchaseDto">

    SELECT *
    FROM (

        SELECT
            ROW_NUMBER() OVER(
                ORDER BY PO.PURCHASE_ORDER_ID DESC
            ) RN,

            PO.PURCHASE_ORDER_ID AS purchaseOrderId,
            PO.STORE_ID          AS storeId,
            S.STORE_NAME         AS storeName,
            PO.STATUS            AS status,
            PO.TOTAL_AMOUNT      AS totalAmount,
            PO.ORDER_MEMO        AS orderMemo,
            TO_CHAR(
                PO.CREATED_AT,
                'YYYY.MM.DD'
            ) AS createdAt,

            (
                SELECT
                    MIN(POI.MATERIAL_NAME_SNAPSHOT)
                    || ' 외 '
                    || (COUNT(*) - 1)
                    || '건'
                FROM PURCHASE_ORDER_ITEMS POI
                WHERE POI.PURCHASE_ORDER_ID
                    = PO.PURCHASE_ORDER_ID
            ) AS itemSummary

        FROM PURCHASE_ORDERS PO
        JOIN STORES S
          ON PO.STORE_ID = S.STORE_ID

        <where>

            <if test="storeId != null">
                PO.STORE_ID = #{storeId}
            </if>

            <if test="status != null and status != ''">
                AND PO.STATUS = #{status}
            </if>

            <if test="startDate != null">
                AND TRUNC(PO.CREATED_AT)
                <![CDATA[>=]]>
                #{startDate}
            </if>

            <if test="endDate != null">
                AND TRUNC(PO.CREATED_AT)
                <![CDATA[<=]]>
                #{endDate}
            </if>

            <if test="keyword != null and keyword != ''">

                AND (

                    EXISTS (
                        SELECT 1
                        FROM PURCHASE_ORDER_ITEMS POI
                        WHERE POI.PURCHASE_ORDER_ID
                              = PO.PURCHASE_ORDER_ID
                        AND POI.MATERIAL_NAME_SNAPSHOT
                            LIKE '%' || #{keyword} || '%'
                    )

                    OR

                    PO.ORDER_MEMO
                        LIKE '%' || #{keyword} || '%'

                )

            </if>

        </where>

    )

    WHERE RN BETWEEN #{startRow}
                 AND #{endRow}

</select>

<!-- 발주 목록 페이지 -->
<select id="searchPurchaseCount"
        resultType="int">

    SELECT COUNT(*)

    FROM PURCHASE_ORDERS PO
    JOIN STORES S
      ON PO.STORE_ID = S.STORE_ID

    <where>

        <if test="isAdmin == false and storeId != null">
            PO.STORE_ID = #{storeId}
        </if>

        <if test="status != null and status != ''">
            AND PO.STATUS = #{status}
        </if>

        <if test="startDate != null">
            AND TRUNC(PO.CREATED_AT)
            <![CDATA[>=]]>
            #{startDate}
        </if>

        <if test="endDate != null">
            AND TRUNC(PO.CREATED_AT)
            <![CDATA[<=]]>
            #{endDate}
        </if>

        <if test="keyword != null and keyword != ''">

            AND (

                EXISTS (
                    SELECT 1
                    FROM PURCHASE_ORDER_ITEMS POI
                    WHERE POI.PURCHASE_ORDER_ID
                          = PO.PURCHASE_ORDER_ID
                    AND POI.MATERIAL_NAME_SNAPSHOT
                        LIKE '%' || #{keyword} || '%'
                )

                OR

                PO.ORDER_MEMO
                    LIKE '%' || #{keyword} || '%'

            )

        </if>

    </where>

</select>


<!-- 발주 MASTER 등록 -->
<insert id="insertPurchaseOrder">

    <selectKey
            keyProperty="purchaseOrderId"
            resultType="long"
            order="BEFORE">

        SELECT SEQ_PUR_REQ.NEXTVAL
        FROM DUAL

    </selectKey>

    INSERT INTO PURCHASE_ORDERS (

        PURCHASE_ORDER_ID,
        TOTAL_AMOUNT,
        ORDER_MEMO,
        STATUS,
        STORE_ID,
        CREATED_AT

    )
    VALUES (

        #{purchaseOrderId},
        #{totalAmount},
        #{orderMemo},
        'REQUESTED',
        #{storeId},
        SYSDATE

    )

</insert>


<!-- 발주 DETAIL 등록 -->
<insert id="insertPurchaseOrderItem">

    INSERT INTO PURCHASE_ORDER_ITEMS (
        PURCHASE_ORDER_ITEM_ID,
        REQUEST_QUANTITY,
        APPROVED_QUANTITY,
        MATERIAL_NAME_SNAPSHOT,
        SUPPLY_PRICE_SNAPSHOT,
        MATERIAL_ID,
        PURCHASE_ORDER_ID
    )
    VALUES (
        SEQ_PUR_REQ_ITEM.NEXTVAL,
        #{requestQuantity},
        0,
        #{materialNameSnapshot},
        #{supplyPriceSnapshot},
        #{materialId},
        #{purchaseOrderId}
    )

</insert>

<select id="selectPurchaseOrderDetail"
        resultType="com.kh.burgerstack.purchase.dto.PurchaseOrderDetailDto">

    SELECT
        P.PURCHASE_ORDER_ID,
        P.STATUS,
        M.MATERIAL_ID,
        M.MATERIAL_NAME,
        M.MATERIAL_TYPE,
        I.SUPPLY_PRICE_SNAPSHOT,
        INV.CURRENT_QUANTITY,
        I.REQUEST_QUANTITY,
        NVL(I.APPROVED_QUANTITY,0)
            AS APPROVED_QUANTITY,
        (I.REQUEST_QUANTITY
            - NVL(I.APPROVED_QUANTITY,0))
            AS REJECT_QUANTITY,
        I.REJECT_REASON,
        (
            NVL(I.APPROVED_QUANTITY,0)
            * I.SUPPLY_PRICE_SNAPSHOT
        ) AS TOTAL_PRICE

    FROM PURCHASE_ORDERS P

    JOIN PURCHASE_ORDER_ITEMS I
      ON P.PURCHASE_ORDER_ID
       = I.PURCHASE_ORDER_ID
    JOIN MATERIALS M
      ON I.MATERIAL_ID
       = M.MATERIAL_ID
    JOIN STORE_INVENTORIES INV
      ON INV.MATERIAL_ID
       = M.MATERIAL_ID
     AND INV.STORE_ID
       = P.STORE_ID

    WHERE P.PURCHASE_ORDER_ID
        = #{purchaseOrderId}

</select>

<!-- MASTER 조회 -->
<select id="selectPurchase" resultType="com.kh.burgerstack.purchase.dto.PurchaseDto">
    SELECT
        PURCHASE_ORDER_ID,
        STATUS,
        TOTAL_AMOUNT,
        ORDER_MEMO,
        STORE_ID,
        CREATED_AT
    FROM PURCHASE_ORDERS
    WHERE PURCHASE_ORDER_ID = #{id}
</select>

<!-- ITEM 삭제 -->
<delete id="deletePurchaseItems">
    DELETE FROM PURCHASE_ORDER_ITEMS
    WHERE PURCHASE_ORDER_ID = #{id}
</delete>

<!-- TOTAL 금액 재계산 -->
<update id="updateTotalAmount">
    UPDATE PURCHASE_ORDERS P
    SET TOTAL_AMOUNT =
    (
        SELECT NVL(SUM(REQUEST_QUANTITY * SUPPLY_PRICE_SNAPSHOT),0)
        FROM PURCHASE_ORDER_ITEMS
        WHERE PURCHASE_ORDER_ID = P.PURCHASE_ORDER_ID
    )
    WHERE PURCHASE_ORDER_ID = #{id}
</update>

<!-- 발주 상태 변경 -->
<update id="cancelPurchase">
    UPDATE PURCHASE_ORDERS
    SET STATUS =
        <choose>
            <when test="isAdmin == true">
                'REQUESTED'
            </when>
            <otherwise>
                'CANCELED'
            </otherwise>
        </choose>
    WHERE PURCHASE_ORDER_ID = #{purchaseOrderId}
</update>

<update id="updateApprovedQuantity">

    UPDATE PURCHASE_ORDER_ITEMS
       SET APPROVED_QUANTITY = #{approvedQuantity}
         , REJECT_REASON = #{rejectReason}
     WHERE PURCHASE_ORDER_ID = #{purchaseOrderId}
       AND MATERIAL_ID = #{materialId}

</update>

<update id="updatePurchaseStatus">

    UPDATE PURCHASE_ORDERS
       SET STATUS = #{status}
     WHERE PURCHASE_ORDER_ID = #{purchaseOrderId}

</update>

    <select id="findTopN">
        SELECT T.*
          FROM (
                SELECT PURCHASE_ORDER_ID
                     , 'PO-' || EXTRACT(YEAR FROM SYSDATE) || '-' || LPAD(PURCHASE_ORDER_ID, 4, '0') AS PURCHASE_CODE
                     , ITEMS.TOTAL_AMOUNT
                     , CASE WHEN PO.STATUS = 'REQUESTED'          THEN '요청'
                            WHEN PO.STATUS = 'PARTIALLY_APPROVED' THEN '부분 승인'
                            WHEN PO.STATUS = 'APPROVED'           THEN '승인'
                            WHEN PO.STATUS = 'REJECTED'           THEN '반려'
                            WHEN PO.STATUS = 'CANCELED'           THEN '취소'
                            WHEN PO.STATUS = 'RECEIVED'           THEN '입고'
                            END AS STATUS
                     , PO.CREATED_AT
                     , STORE_NAME
                     , STORE_ID
                  FROM PURCHASE_ORDERS PO
                  JOIN (
                        SELECT SUM(SUPPLY_PRICE_SNAPSHOT * REQUEST_QUANTITY) AS TOTAL_AMOUNT
                             , PURCHASE_ORDER_ID
                          FROM PURCHASE_ORDER_ITEMS
                          GROUP BY PURCHASE_ORDER_ID
                       ) ITEMS
                 USING ( PURCHASE_ORDER_ID )
                  JOIN STORES S
                 USING ( STORE_ID )
                 ORDER BY PO.CREATED_AT DESC
                        , PURCHASE_ORDER_ID DESC
               ) T
         WHERE ROWNUM &lt;= #{count}
    </select>

    <select id="getPurchaseOrderStatistics">
        SELECT COUNT(CASE WHEN STATUS = 'REQUESTED' THEN 1 END) AS REQUESTED_COUNT
             , COUNT(CASE WHEN STATUS = 'APPROVED' THEN 1 END) AS APPROVED_COUNT
             , COUNT(CASE WHEN STATUS = 'REJECTED' THEN 1 END) AS REJECTED_COUNT
          FROM PURCHASE_ORDERS
    </select>
</mapper>
