<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.kh.burgerstack.purchase.PurchaseMapper">

	<!-- <resultMap id="boardResultSet" type="board">
		<id column="BOARD_NO" property="boardNo" />
		<result column="CATEGORY" property="category" />
		<result column="BOARD_TITLE" property="boardTitle" />
		<result column="USER_ID" property="boardWriter" />
		<result column="COUNT" property="count" />
		<result column="CREATE_DATE" property="createDate" />
		
		<result column="BOARD_CONTENT" property="boardContent"/>
		
	</resultMap> -->

    <select id="searchMaterialsList"
            resultType="com.kh.burgerstack.purchase.PurchaseRequest">

        SELECT
            M.MATERIAL_NAME AS requestMemo,
            M.COST_PRICE AS totalAmount,
            I.CURRENT_QUANTITY AS storeId,
            (M.COST_PRICE * I.CURRENT_QUANTITY) AS BUY_PRICE,
            M.STATUS AS status
        FROM MATERIALS M
        JOIN STORE_INVENTORIES I
            ON M.MATERIAL_ID = I.MATERIAL_ID

    </select>

</mapper>
