<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ReceiptMapper">

	<!-- 입고 예정 목록 총 갯수 -->
	<select id="getPlanTotalCount" resultType="_int">
	    SELECT COUNT(*)
	    FROM PURCHASE_ORDERS
	    WHERE STATUS = 'APPROVED'
	</select>
        <!-- 
        WHERE STATUS = 'REQUESTED'
        AND STORE_ID = #{storeId} 
        -->


    <!-- 입고 이력 목록 총 갯수를 구하는 쿼리문 -->
	<select id="getHistoryTotalCount" resultType="_int">
	    SELECT COUNT(*)
	    FROM RECEIPTS
	</select>

    <!-- 입고 예정 목록 리스트 조회 -->
    <select id="selectReceiptPlanList"
        resultType="purchaseOrder">

    SELECT
          PURCHASE_ORDER_ID AS purchaseOrderId
        , TOTAL_AMOUNT       AS totalAmount
        , ORDER_MEMO         AS orderMemo
        , STATUS             AS status
        , CREATED_AT         AS createdAt
        , UPDATED_AT         AS updatedAt
        , STORE_ID           AS storeId
    FROM PURCHASE_ORDERS
    WHERE STATUS = 'APPROVED'
    ORDER BY CREATED_AT DESC

</select>

	<!-- 입고 이력 목록 조회 -->
	<select id="selectReceiptList"
            resultType="com.kh.burgerstack.receipt.Receipt">

        SELECT
            RECEIPT_ID AS receiptId,
            RECEIPT_MEMO AS receiptMemo,
            RECEIVED_AT AS receivedAt,
            PURCHASE_ORDER_ID AS purchaseOrderId
        FROM RECEIPTS
        ORDER BY RECEIPT_ID DESC

    </select>
    
    



















	
</mapper>


