.data-table th,
.data-table td {
  vertical-align: middle;
  overflow: hidden;
  white-space: nowrap;
}

.data-table [data-clickable]:hover {
  cursor: pointer;
}

.data-table__col-fit {
  width: 1%;
}

.data-table__text-cell {
  max-width: 0;
}
